<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Challenges</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/homeSlider.css}">
    <script type="text/javascript" th:src="@{/js/slider.js}" ></script>

   <style>
        .nav navbar-nav {
           position: absolute;
           left: 50%;
           transform: translatex(-50%);
       }
   </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Challenge me</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a th:href="@{/challenge}">Challenges</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#allChallenge">All Challenges</a></li>
            <li><a href="#myChallenge">My Challenges</a></li>
            <li><a href="#enroll">Enrolled</a></li>
        </ul>
    </div>
</nav>
<br>

<div id ="allChallenge" class = container my-2>
<h1> All Challenges </h1>
    <main>
    <header>
        <h1>Top Hottest Products</h1>
        <p>
            <span class="mover">&#139;</span>
            <span class="mover">&#155;</span>
        </p>
    </header>
    <section>
        <div class="product" th:each="challenge : ${listChallenges}">
        <picture>
            <img th:src="${challenge.image}" alt="">
        </picture>
        <div class="detail">
            <p>
                <b th:text="${challenge.title}"></b><br>
                <small th:text="${challenge.description}"></small>
            </p>
            <samp th:text="${challenge.startDate+'-'+ challenge.endDate}"></samp>
        </div>
        <div class="button">
            <form th:if="${challenge.getUserByAdminId().getId()!=user.getId()}" th:action="@{/enroll}" method="post" >  <input hidden type="text" name="id" th:value="${challenge.getId()}">  <input type="submit" value="Enroll" class="btn btn-success"></form>
        </div>
        </div></section></main>


    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="challenge : ${listChallenges}">
            <td th:text="${challenge.title}"></td>
            <td th:text="${challenge.type}"></td>
            <td th:text="${challenge.description}"></td>
            <td > <a  th:if="${challenge.getUserByAdminId().getId()==user.getId()}" th:href="@{/challengeUpdate/{id}(id=${challenge.id})}" class="btn btn-primary">Update</a>
                <a th:if="${challenge.getUserByAdminId().getId()==user.getId()}" th:href="@{/deleteChallenge/{id}(id=${challenge.id})}" class="btn btn-danger">Delete</a>
                <form th:if="${challenge.getUserByAdminId().getId()!=user.getId()}" th:action="@{/enroll}" method="post" >  <input hidden type="text" name="id" th:value="${challenge.getId()}">  <input type="submit" value="Enroll" class="btn btn-success"></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<div id="myChallenge" class = container my-2>
    <h1> My Challenges </h1>
    <a th:href = "@{/showNewChallengeForm}" class="btn btn-primary btn-sm mb-3"> Create Challenge </a>
    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${challenge.getUserByAdminId().getId()==user.getId()}" th:each="challenge : ${listChallenges}">
            <td th:text="${challenge.title}"></td>
            <td th:text="${challenge.type}"></td>
            <td th:text="${challenge.description}"></td>
            <td > <a th:href="@{/challengeUpdate/{id}(id=${challenge.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteChallenge/{id}(id=${challenge.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="enroll"></div>


</body>
</html>